<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>HorrorFlix - Login</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">
                <img id="logo" src="../images/logo-hf.png" alt="logo horrorflix" width="170px"></img>
            </a>
        </nav>
    </header>
    <section class="form-register">
        <h4>Bienvenido!</h4>

        <input class="inputs" type="usuario" name="usuario" id="usuario" placeholder="Ingrese su nombre de Usuario">
        <input class="inputs" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
        <button id="login"  type="submit">Log In</button>

    </section>


    <script src="../../javascript/main.js"></script>
</body>
</html>