<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>HorrorFlix | Principal</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="principal.html">
                <img id="logo" src="../images/logo-hf.png" alt="logo horrorflix" width="170px"></img>
            </a>
            <ul class="header__menu">
                <input type="search" class="search"><button class="srchBtn">Buscar</button>
                <li class="header__link"><a href="carrito.html" target="_self">Carrito</a></li>
                <li class="header__link"><a href="../../index.html" target="_self">Log Out</a></li>
            </ul>   
        </nav>
    </header>

   <section class="peliculas">
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/frankenstein.jpg" width="130px" alt="1"></img>
            <h3 class="tituloPelicula">Frankenstein</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/50woman.jpg" width="130px" alt="2"></img>
            <h3 class="tituloPelicula">Attack of the 50ft woman</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/blackcat.jpg" width="130px" alt="3"></img>
            <h3 class="tituloPelicula">Black cat</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/blacksunday.jpg" width="130px" alt="4"></img>
            <h3 class="tituloPelicula">Black Sunday</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/blob.jpg" width="130px" alt="5"></img>
            <h3 class="tituloPelicula">The Blob</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/bride.jpg" width="130px" alt="6"></img>
            <h3 class="tituloPelicula">Bride of Frankenstein</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/childrenofthedamned.jpg" width="130px" alt="7"></img>
            <h3 class="tituloPelicula">Children of the damned</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/creatureblacklagoon.jpg" width="130px" alt="8"></img>
            <h3 class="tituloPelicula">Creature from the black lagoon</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/diemonsterdie.jpg" width="130px" alt="9"></img>
            <h3 class="tituloPelicula">Die monster die</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/dracula.jpg" width="130px" alt="10"></img>
            <h3 class="tituloPelicula">Dracula</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/earthstoodstill.jpg" width="130px" alt="11"></img>
            <h3 class="tituloPelicula">The day the earth stood still</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/forbiddenplanet.jpg" width="130px" alt="12"></img>
            <h3 class="tituloPelicula">The forbidden planet</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/houseofwax.jpg" width="130px" alt="13"></img>
            <h3 class="tituloPelicula">The house of wax</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/houseonhauntedhill.jpg" width="130px" alt="14"></img>
            <h3 class="tituloPelicula">House on haunted hill</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/invasionofbodysnatchers.jpg" width="130px" alt="15"></img>
            <h3 class="tituloPelicula">Invasion of the bodysnatchers</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/invisibleman.jpg" width="130px" alt="16"></img>
            <h3 class="tituloPelicula">The invisible man</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/itcamefromouterspace.jpg" width="130px" alt="17"></img>
            <h3 class="tituloPelicula">It came from outer space</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/jekyllhyde.jpg" width="130px" alt="18"></img>
            <h3 class="tituloPelicula">Dr. Jekyll and Mr Hyde</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/livingdead.jpg" width="130px" alt="19"></img>
            <h3 class="tituloPelicula">The night of the living dead</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/phantomoftheopera.jpg" width="130px" alt="20"></img>
            <h3 class="tituloPelicula">The phantom of the opera</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/plan9.jpg" width="130px" alt="21"></img>
            <h3 class="tituloPelicula">Plan 9 from outer space</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/psycho.jpg" width="130px" alt="22"></img>
            <h3 class="tituloPelicula">Psycho</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/puppetpeople.jpg" width="130px" alt="23"></img>
            <h3 class="tituloPelicula">Attack of the puppet people</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/raven.jpg" width="130px" alt="24"></img>
            <h3 class="tituloPelicula">The Raven</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/robotmonster.jpg" width="130px" alt="25"></img>
            <h3 class="tituloPelicula">Robot Monster</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/tarantula.jpg" width="130px" alt="26"></img>
            <h3 class="tituloPelicula">Tarantula!</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/thealligatorpeople.jpg" width="130px" alt="27"></img>
            <h3 class="tituloPelicula">The alligator people</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/thecrawlingeye.jpg" width="130px" alt="28"></img>
            <h3 class="tituloPelicula">The crawling eye</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/thefly.jpg" width="130px" alt="29"></img>
            <h3 class="tituloPelicula">The fly</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/thegiantleeches.jpg" width="130px" alt="30"></img>
            <h3 class="tituloPelicula">Plan 9 from outer space</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/plan9.jpg" width="130px" alt="31"></img>
            <h3 class="tituloPelicula">The giant leeches</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/them.jpg" width="130px" alt="32"></img>
            <h3 class="tituloPelicula">Them</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/themolepeople.jpg" width="130px" alt="33"></img>
            <h3 class="tituloPelicula">The mole people</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/themummy.jpg" width="130px" alt="34"></img>
            <h3 class="tituloPelicula">The mummy</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/thething.jpg" width="130px" alt="35"></img>
            <h3 class="tituloPelicula">The thing that couldn't die</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/thetingler.jpg" width="130px" alt="36"></img>
            <h3 class="tituloPelicula">The tingler</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/thing.jpg" width="130px" alt="37"></img>
            <h3 class="tituloPelicula">The thing</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/thisislandearth.jpg" width="130px" alt="38"></img>
            <h3 class="tituloPelicula">This island earth</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/walkedwithazombie.jpg" width="130px" alt="39"></img>
            <h3 class="tituloPelicula">Walked with a zombie</h3>
        </div>
        <div class="peliculas__rectangulo" id="cardPeliculas">
            <img class="peliculaImagen" src="../images/wolfman.jpg" width="130px" alt="40"></img>
            <h3 class="tituloPelicula">The wolfman</h3>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__copyright">
            <p>Todos los derechos reservados 2022&copy;. LeoxL83</p>
            <a href="https:/www.github.com/leoxl83" target="blank"><img class="footer__copyright__icono" src="../images/githubicon.png" alt="Github"></img></a>
        </div>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>
    <script src="../../javascript/peliculas.js"></script>
    <script src="../../javascript/carrito.js"></script>
    <script src="../../javascript/main.js"></script>
</body>
</html>