<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>HorrorFlix | Principal</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="principal.html">
                <img id="logo" src="../images/logo-hf.png" alt="logo horrorflix" width="170px"></img>
            </a>
            <ul class="header__menu">
                <input type="search" class="search"><button class="srchBtn">Buscar</button>
                <li class="header__link"><a href="favoritos.html" target="_self">Favoritos</a></li>
                <li class="header__link"><a href="../../index.html" target="_self">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div class="peliculas">
                <div id="peliculasLista" class="peliculasLista">
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__copyright">
            <p>Todos los derechos reservados 2022&copy;. LeoxL83</p>
            <a href="https:/www.github.com/leoxl83" target="blank"><img class="footer__copyright__icono"
                    src="../images/githubicon.png" alt="Github"></img></a>
        </div>
        </div>
    </footer>


    <script src="../../javascript/main.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


</body>

</html>