/*Normalize*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    background-image: url("../images/fondo.jpg");
    background-size: 100%;
    min-height: 100vh;
    width: 100%;
    margin:0% auto;
}

header {
    grid-row: 1;
    height: 130px;
    position: sticky;
    top: 0;

}

.header__menu {
    float: right;
    margin: 70px 110px 0 0;
    
}

.header__link {
    display: inline;
    color: white;
    text-align: left;
    padding: 14px 0px;
    text-decoration: none;
}

.header__link a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header__link a:active {
    background-color: #616161;
}

.header__link a:hover {
    background-color: #ba3232;
    border-radius: 8%;
}

.navbar {
    background-color: #202020;
    height: 140px;
    border-bottom: 5px solid rgba(129, 126, 126, 0.836);
}

#logo {
    margin-top: 22px;
    margin-left: 75px;
    transition: 0.5s all ease-in-out;
}

#logo:hover {
    transform: scale(1.1);
}

.banner {
    border-bottom: 2px solid rgba(129, 126, 126, 0.836);
}

.footer {
    grid-row: 3;
    background-color: #363836;
    color: #ba3232;
    padding: 10px;
    margin-top: 20px;
    width: 100% ;
    position: relative;
    bottom: 0px;
}

.footer__copyright__icono {
    width: 70px;
    height: 70px;
    padding: 0px 10px 20px 10px;
}

.footer__copyright {
    background-color: #202020;
    text-align: center;
    padding: 10px 0px;
    margin: 0 -10px -10px -10px;
}

.tituloRedes {
    padding: 10px;
}

.peliculasLista {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.cards_peliculas {
    width: 230px;
    margin: 35px;
    background-color: #050505;
    border-radius: 10px;
}

.cards_peliculas_picture {
    padding-top: 10px;
    width: 200px;
}

.peliculas_content {
    margin-bottom: 10px;
    color: ivory;
    text-align: center;
    font-size: 14px
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 25px;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    font-family: 'raleway';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.inputs {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ba3232;
    font-family: 'raleway';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 40px;
    background: #ba3232;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 8px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

button {
    margin-bottom: 15px;
    background: #ba3232;
    color: white;
    padding: 8px;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-size:xx-large;
    margin-top: 30px;
    padding-top: 5px;
    background: #ba3232;
    height: 50px;
}
